
.body {
  height: 500px;
  width: 700px;
  border: 4px solid black;
  margin: 10px;
}

.square {
  width: 60px;
  height: 40px;
  position: fixed;
  z-index: 0;
}

.shot {
  width: 10px;
  height: 10px;
  position: fixed;
  background: black;
  border: 1px solid red;
  margin: 5px 25px;
}

.alien {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 0;
}

.element1 {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: black;
  border: 1px solid red;
  z-index: 7;
}

.element2 {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: black;
  border: 1px solid red;
  z-index: 8;
}

.element3 {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: black;
  border: 1px solid red;
  z-index: 9;
}

.element4 {
  width: 19px;
  height: 19px;
  position: absolute;
  border: 1px solid red;
  top: 0;
  left: 20px;
  background-color: black;
  z-index: 10;
}

.alien1, .alien2, .alien3, .alien4, .alien5, .alien6 {
  width: 19px;
  height: 19px;
  position: absolute;
  background-color: black;
  border: 1px solid red;
  z-index: 10;
}

.alien1 {
  top: 0;
  left: 0;
}

.alien2 {
  top: 0;
  left: 20px;
}

.alien3 {
  top: 0;
  left: 40px;
}

.alien4 {
  top: 20px;
  left: 20px;
}

.alien5 {
  top: 40px;
  left: 0;
}

.alien6 {
  top: 40px;
  left: 40px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  border: 4px solid red;
  margin-left: 200px;
  margin-top: 150px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: black;
  z-index: 15;
}

.buttonLeft{
  top: 590px;
  left: 185px;


}

.buttonRight{
  top: 590px;
  left: 425px;

}

.buttonTop{
  top: 530px;
  left: 305px;
}


.buttonBottom{
  top: 590px;
  left: 305px;
}

button{
  height: 40px;
  width: 100px;
  border: 4px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  position: fixed;
  box-shadow: 3px 3px 3px gray;
}

button:active{
  background-color: white;
  box-shadow: none;
}